[push]
	default = simple
[alias]
	ac = ! $HOME/bin/git-aliases/ac
	amend = ! $HOME/bin/git-aliases/amend
	authors = ! $HOME/bin/git-aliases/authors
	checks = ! $HOME/bin/git-aliases/pr -c
	count-lines = ! $HOME/bin/git-aliases/count-lines
	dt = difftool
	isrepo = ! $HOME/bin/git-aliases/isrepo
	issue = ! $HOME/bin/git-aliases/issue
	provider = ! $HOME/bin/git-aliases/provider
	rename-tag = ! $HOME/bin/git-aliases/rename-tag
	root = ! $HOME/bin/git-aliases/root
	set-author = ! $HOME/bin/git-aliases/set-author
  b = ! $HOME/bin/git-aliases/b
  base = ! $HOME/bin/git-aliases/base 
  cleanup = ! $HOME/bin/git-aliases/cleanup
  commands = ! $HOME/bin/git-aliases/commands
  last-change = log -1 -p
  pr = ! $HOME/bin/git-aliases/pr 
  prenv = ! $HOME/bin/git-aliases/prenv
  psh = ! $HOME/bin/git-aliases/psh 
  squash = ! $HOME/bin/git-aliases/squash
  unwind = ! $HOME/bin/git-aliases/unwind
  update = ! $HOME/bin/git-aliases/update
[checkout]
  defaultRemote = origin
[diff]
	tool = p4mergetool
[difftool]
  cmd = vim -f -c MergetoolStart "$MERGED" "$BASE" "$LOCAL" "$REMOTE"
	prompt = false
[merge]
	tool = p4mergetool
  defaultToUpstream = true
  autoStash = true
[mergetool]
	keepBackup = false
	prompt = false
[mergetool "vim_mergetool"]
  cmd = vim -f -c MergetoolStart "$MERGED" "$BASE" "$LOCAL" "$REMOTE"
  trustExitCode=true
[credential]
	helper = store
[core]
	ignorecase = true
	excludesfile = /Users/paterson/.gitignore
[user]
	name = Chris Paterson
	email = paterson@adobe.com
[pull]
[credential "https://github.com"]
	helper = 
	helper = !/usr/local/bin/gh auth git-credential
[credential "https://git.corp.adobe.com"]
	helper = 
	helper = !/usr/local/bin/gh auth git-credential
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[mergetool "diffconflicts"]
	cmd = vim -c DiffConflicts \"$MERGED\" \"$BASE\" \"$LOCAL\" \"$REMOTE\"
	trustExitCode = true
[mergetool "p4mergetool"]
	cmd = /Applications/p4merge.app/Contents/Resources/launchp4merge $PWD/$BASE $PWD/$REMOTE $PWD/$LOCAL $PWD/$MERGED
	trustExitCode = false
[difftool "p4mergetool"]
	cmd = /Applications/p4merge.app/Contents/Resources/launchp4merge $LOCAL $REMOTE
