[push]
	default = simple
[alias]
	ac = !git add -A && git commit
	root = !cd $(git rev-parse --show-toplevel)
	amend = !git add -A && git commit --amend --no-edit
	d = difftool
[diff]
	tool = vimdiff
[difftool]
	prompt = false
[merge]
	tool = vimdiff
	conflictstyle = diff3
[mergetool]
	prompt = false
[user]
	name = Chris Paterson
	email = 1268493+chrispaterson@users.noreply.github.com
[credential]
	helper = store
[core]
	ignorecase = false
	hooksPath = /Users/cpaterson/githooks
